/* Page */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #690a0a;
    color: #333;
    line-height: 1.6;
}
 
 
/* Main card */
.main-container {
    max-width: 900px;
    margin: 60px auto;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
 
 
/* Header */
.name {
    background: #ce8599;
    text-align: center;
    padding: 5px 5px;
    box-sizing: border-box;
    width: 100%;
}
 
 
.name h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}
 
 
.name h3 {
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: underline;
}
 
 
/* Profile section */
.container {
    text-align: center;
    padding: 0;
}
 
 
.container img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #862541;
    margin-bottom: 25px;
}
 
 
/* About text */
.container p {
    max-width: 650px;
    margin: auto;
    font-size: 1rem;
}
 
 
.highlight {
    color: #961328;
    font-weight: 600;
}
 
 
/* Info section */
.info-section {
    display: flex;
    gap: 30px;
    padding: 20px;
    background: #fafafa;
    flex-direction: row;
}
 
 
.educ,
.interest {
    flex: 2;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
 
 
}
 
 
.info-section h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #f8c1d1;
    display: inline-block;
    padding-bottom: 5px;
}
 
 
/* Lists */
.info-section ul {
    list-style: none;
    margin-top: 10px;
}
 
 
.info-section li {
    margin-bottom: 8px;
}
 
 
/* Footer */
.footer {
    text-align: center;
    padding: 20px;
}
 
 
.github {
    color: #c88893;
    text-decoration: none;
    font-weight: 600;
}
 
 
.github:hover {
  text-decoration: underline;
}